.h1-salesList{
    background-color: burlywood;
}

.table-salesList{
    margin-top: 30px;
    width: 50%;
    border: 1px solid #000;
}

.th-salesList{

   width: 25%;
   text-align: center;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
   color: #000;
   
}

